name: Docker Image CI

on:
  push:
    branches: ["main"]
env:
  # 设置 docker 镜像名
  IMAGE_NAME: ghcr.io/ittoyxk/
jobs:

  push-store-image:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v3


      - name: 'Login to aliyun Container Registry'
        uses: docker/login-action@v1
        with:
          registry: registry.cn-beijing.aliyuncs.com
          username: ${{secrets.ALIYUN_USERNAME}}
          password: ${{secrets.ALIYUN_PASSWORD}}

      - name: Build and push image
        run:
          |
          docker version
          docker pull registry.gitlab.com/shinobi-systems/shinobi:dev
          docker tag registry.gitlab.com/shinobi-systems/shinobi:dev registry.cn-beijing.aliyuncs.com/ittoyxk/shinobi:dev
          docker push registry.cn-beijing.aliyuncs.com/ittoyxk/shinobi:dev
